* {
    margin: 0;
}

body {
    height: 100vh;
    background: black;
}

form {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 350px;
    margin: 0 auto;
}

form h1 {
    text-align: center;
}

form input {
    border-radius: 4px;
    height: 2rem;
}